@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap");
@import url(https://coolors.co/233d4d-fe7f2d-fcca46-a1c181-619b8a);

//makes a global color variable so its easier to change if needed
:root {
  --light-color: #eeeee4;
  --darker-color: #e28743;
  --darkest-color: #233d4d;
  --light-green: #a1c181;
  --darker-green: #619b8a;
}

// Backgound only
body {
  background: #dfdfdf;
  //   To delete the default white space
  margin: 0; //effects everything outside of that element
  font-family: "Noto Sans TC", sans-serif;
}

//Mobile friendly
.navbar-box {
  background: var(--darkest-color);
  padding: 1em; //effects everthing within the element

  .profile-text {
    text-decoration: none;
    //font-weight: bold;
    color: white;
    font-size: 13px; //em unit is relative unit meaning relative to the font size of the element. so this would be 1.2 time the original font
    letter-spacing: 0.05em;

    &:hover {
      font-weight: bold;
      font-size: 15px;
      transition: 0.1s;
      color: #e28743;
    }
  }

  .container {
    display: flex; //way to structure an element
    place-content: space-between; //creates a space between the items
  }
}

a {
  color: rgb(102, 102, 102);
}

ul {
  text-decoration: none;
  //background: blue;
}

section {
  padding: 2em 2em;
  //margin: 100px;
}

.title-section {
  text-align: center;
  margin-top: 7em;
  //background: #233d4d;
  height: 2vh;

  .recipe-title {
    margin-top: -2em;
    padding: 0px;
    font-weight: bold;
    font-size: 2em;
    color: var(--darkest-color);
  }
}

.left-box {
  text-align: center;
  background: var(--light-color);
  height: 70em;
  border-radius: 4em;
  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.5);

  &:hover {
    transform: translateY(-10px) scale(1) translateZ(0);
    transition: 0.3s ease-out;
    box-shadow: 0px 12px 15px rgba(0, 0, 0, 0.5);
  }
}

.middle-box {
  text-align: center;
  background: var(--light-color);
  height: 70em;
  border-radius: 4em;
  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.5);

  &:hover {
    transform: translateY(-10px) scale(1) translateZ(0);
    transition: 0.3s ease-out;
    box-shadow: 0px 12px 15px rgba(0, 0, 0, 0.5);
  }
}

.right-box {
  text-align: center;
  background: var(--light-color);
  height: 70em;
  border-radius: 4em;
  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.5);

  &:hover {
    transform: translateY(-10px) scale(1) translateZ(0);
    transition: 0.3s ease-out;
    box-shadow: 0px 12px 15px rgba(0, 0, 0, 0.5);
  }
}

.subheading {
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  color: #233d4da9;
  text-transform: uppercase;
}

.middle-section {
  text-align: center;
  margin-top: 1em;
  height: 70em;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-gap: 1%;
  //background: #233d4d;
}

.text-area-middle-box {
  height: 45em;
  font-size: large;
  width: 95%;
  resize: none;
  background-color: #ece63dbe;
  margin-top: 2%;
  font-family: "Times New Roman", Times, serif;
  border-color: Transparent;
  border-radius: 1em;
  border: none;
  outline: none;

  background-attachment: local;
  background-image: linear-gradient(to right, white 10px, transparent 10px),
    linear-gradient(to left, white 10px, transparent 10px),
    repeating-linear-gradient(
      white,
      white 30px,
      #ccc 30px,
      #ccc 31px,
      white 31px
    );
  line-height: 31px;

  &:focus {
    outline: none;
  }
}

.left-box-submit-btn {
  background-color: var(--darker-color); /* Green */
  border: none;
  color: black;
  padding: 10px 32px;
  border-radius: 2em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 15px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  font-weight: bold;

  &:hover {
    background-color: #4caf50;
    color: white;
  }
}

.middle-box-submit-btn {
  background-color: var(--darker-color); /* Green */
  border: none;
  color: black;
  padding: 10px 32px;
  border-radius: 2em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 18px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  font-weight: bold;

  &:hover {
    background-color: #4caf50;
    color: white;
  }
}

.text-area-left-box {
  height: 45em;
  font-size: large;
  width: 85%;
  resize: none;
  //background-color: #ece63dbe;
  margin-top: 7%;
  font-family: "Noto Sans TC", serif;
  border-color: Transparent;
  border-radius: 1em;
  outline: none;
  text-align: justify;
  box-sizing: inherit;

  background-attachment: local;
  background-image: linear-gradient(to right, white 10px, transparent 10px),
    linear-gradient(to left, white 10px, transparent 10px),
    repeating-linear-gradient(
      white,
      white 30px,
      #ccc 30px,
      #ccc 31px,
      white 31px
    );
  line-height: 31px;

  &:focus {
    outline: none;
  }
}

.upload-btn {
  margin: 0;
  color: black;
  background: var(--darker-color);
  border: none;
  width: 150px;
  height: 35px;
  margin-top: 230px;
  margin-left: 1.5em;
  border-radius: 2em;
  text-decoration: none;
  font-size: 16px;
  //border-bottom: 4px solid #117a60;
  transition: all 0.2s ease;
  outline: none;
  padding-bottom: 5px;
  cursor: pointer;
  font-weight: bold;

  &:hover {
    background-color: #4caf50;
    color: white;
  }
}

.upload-mssg {
  font-size: 10px;
  text-align: center;
  font-weight: bold;
  color: #233d4da9;
  text-transform: uppercase;
  padding: 25% 0;
  //position: absolute;
}

form {
  padding: 50% 0;
  font-weight: bold;
  color: #233d4da9;
  font-size: 10px;
}
